CONFIG_IDF_TARGET="esp32"
CONFIG_ETH_USE_SPI_ETHERNET=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_ETH_PHY_W5500=y
CONFIG_SPI_MASTER_ISR_IN_IRAM=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048
CONFIG_HTTPD_PURGE_BUF_LEN=32
CONFIG_ESP_WIFI_SSID="Device-XXXX"
CONFIG_ESP_WIFI_PASSWORD="setup-1234"
CONFIG_ESP_WIFI_AP_CHANNEL=6
CONFIG_ESP_WIFI_AP_MAX_STA_CONN=4
CONFIG_ESP_WIFI_SLP_IRAM_OPT=y
CONFIG_NVS_ENCRYPTION=n
CONFIG_MDNS_MAX_SERVICES=3
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
